body {
  background-color: #333;
  color: #b7cbf4 !important;
}
table {
  text-wrap: nowrap;
  z-index: 10;
  max-height: 300px;
}
th {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #b7cbf4;
  padding: 4px 0px;
  z-index: 11;
}
a {
  text-decoration: none;
  color: #b77ee0;
}

input {
  appearance: none;
  background: none;
  padding: 5px;
  border: none;
  outline: none;
  color: inherit;
}

input[type='radio'] {
  appearance: auto;
}

select {
  padding: 4px;
  background: none;
  color: #b7cbf4;
  border: 1px dashed #b7cbf4;
  outline: none;
}
